.five-card-reading__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.five-card-reading__header {
    font-family: Carima;
    font-size: 1.5em;
    color: white;
    text-shadow: 0 0 2px gold;
    border: 1px solid gold;
    border-radius: 50%;
    box-shadow: 0 0 10px gold,
            inset 0 0 10px gold; 
}

.five-card-reading__card-hand {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
}

.five-card-reading__card-button {
    width: 25%;
    box-sizing: border-box;
    margin: auto;
    background: none;
    border: none;
}

.five-card-reading__card-one {
    width: 35%;
    z-index: 2;
}

.five-card-reading__card-two {
    position: absolute;
    left: -25px;
    top: 35%;
    transform: rotate(-45deg);
}

.five-card-reading__card-three {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: rotate(-25deg);
    z-index: 1;
}

.five-card-reading__card-four {
    position: absolute;
    right: 10%;
    top: 10%;
    transform: rotate(25deg);
    z-index: 1;
}

.five-card-reading__card-five {
    position: absolute;
    right: -25px;
    top: 35%;
    transform: rotate(45deg);
}


.five-card-reading__card-image {
    filter: saturate(150%);
    box-sizing: border-box;
    width: 100%;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 6.66px;
}

.five-card-reading__card-image:hover {
    filter:brightness(150%);
    border: 2px solid rgb(255, 245, 172);
    box-shadow: 0 0 15px gold;
    cursor: pointer;
}

.five-card-reading__card-image:active {
    filter:brightness(200%);
    border: 2px solid rgb(255, 230, 43);
    box-shadow: 0 0 20px gold;
}

.five-card-reading__card-details {
    background-image: 
        radial-gradient(
            #ffffff80, transparent, #ffffff80, transparent, #ffffff80, transparent, #ffffff80, transparent
        ),
        radial-gradient(
           at top, white, transparent
        )
    ;
    background-color: rgba(192, 192, 192, 0.5);
    box-shadow: 0 -10px 20px white,
                0 0 5px white,
            inset 0 0 5px white;
    margin: -20px 5% 0;
    padding: 15px;
    border-radius: 50%;
    font-family: Carima;
}

.five-card-reading__card-details--name, .five-card-reading__card-details--isreversed {
    color: white;
    text-shadow: 0 0 3px black;
}

.five-card-reading__card-details--keywords {
    font-size: 0.75em;
}

.five-card-reading__card-details--description {
    font-size: 0.5em;
}
.five-card-reading__card-details--description::before {
    content: '"'
}

.five-card-reading__card-details--description::after {
    content: '"'
}
.five-card-reading__card-insight {
    position: relative;
    box-sizing: border-box;
    border: 7px outset red;
    box-shadow: 0 3px 3px #00000055,
                0 -1px 2px white,
            inset 0 0 5px #000000ff;
    border-radius: 30%;
    margin: 15px 2%;
    padding: 15px 20px 30px;
    font-family: BadUnicorn;
    font-size: 1.5em;
    color: white;
}

.five-card-reading__card-insight--background__container { 
    position: absolute;
    overflow: hidden;
    border-radius: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
}

.five-card-reading__card-insight--background {
    width: 100%;
    height: 100%;
    transform: rotate(20deg) scale(2);
    background:
        radial-gradient(
            pink,
            pink 15%,
            transparent 15%,
            transparent
        )
    ;
    background-color: #222222ff;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 0.25em 0.25em;


}

.five-card-reading__card-insight--speaker {
    background-color: rgb(234, 255, 229);
    text-shadow: 0 0 2px black;
    font-family: BadUnicorn;
    font-size: 0.75em;
    padding: 2px 15px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 25px;
    position: absolute;
    top: -15px;
    left: 5px;
}

.five-card-reading__card-insight p {
    margin-bottom: 10px;
}

.five-card-reading__card-insight--fortune-insight {
    font-size: 1.5em;
    margin: 5px auto;
}

.five-card-reading__card-insight--fortune-insight::before {
    content: '"'
}

.five-card-reading__card-insight--fortune-insight::after {
    content: '."'
}