.shuffling__container {
    text-align: center;
    margin-top: 15%;
    width: 100%;
}

.shuffling__animation {
    position: relative;
    width: 100%;
}

.shuffling__breath {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    border: 5px solid gold;
    box-shadow: 0 0 10px gold,
            inset 0 0 10px gold;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    animation: breath 8s linear;
}

.shuffling__snoopy {
    box-sizing: border-box;
    background-image: url(../images/shuffling-snoopy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid gold;
    box-shadow: 0 0 5px gold;
}

.shuffling__title {
    font-family: Carima;
    font-size: 2em;
    margin: 10px auto 0;
    animation: pulse-one 4s infinite linear;
    color: white;
    text-shadow: 0 0 5px gold;
    opacity: 0.8;
}