.welcome-title__container {
    display: flex;
    flex-direction: column;
    min-height: 370px;
    justify-content: space-between;
    position: relative;
}

.welcome-title {
    text-align: center;
    font-family: BadUnicorn;
    color: white;
    padding-bottom: 15px;
    font-size: 2.5em;
    background-image: radial-gradient(#ffffff44, transparent, #ffffff44, transparent, transparent);
    border-radius: 50%;
    box-shadow: 0 0 10px gold,
            inset 0 0 5px white;
}

.welcome-title--small {
    font-size: 0.5em;
}

.welcome-title__decos {
    margin: 10px auto;
    position: relative;
    width: 100%;
}

.welcome-title__deco {
    background-image: url(../images/thefool-rotate.gif);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: -20px auto;
    opacity: 0.8;
}

.welcome-title__decos--torch {
    position: absolute;
    background-image: url(../images/Soul_Torch.gif);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 100px;
}

.welcome-title__button {
    font-family: Chalk;
    font-size: 1.8em;
    justify-self: flex-end;
    width: 90%;
    margin: 10px auto;
    padding: 10px 0;
    background-image: radial-gradient(
        circle at bottom right,
        gold 10%, rgba(87, 0, 128, 0.486)
    );
    border: 5px outset indigo;
    color: white;
    border-radius: 15px;
}

        .welcome-title__button:hover {
            box-shadow: 0 0 5px yellow;
            cursor: pointer;
            background-color: pink;
            color: indigo;
            text-shadow: 0 0 5px white;
        }

                .welcome-title__button:active {
                    border: 5px inset indigo;
                    background-color: rgb(163, 108, 117);
                    box-shadow: 0 0 15px gold;
                }
